
<div class="widget">

    <div class="row">
        <div class="span4"> 
            <div class="photo">
                <a href="~~$view->link~" target="_blank"> 
                    <img src="~~$view->picture~" alt="photo" /> 
                </a>
            </div>
            <p class="faded-text"> <small> ~~$view->post_text~ </small></p>

        </div>

        <div class="span4">
            <h5> <a href="~~$view->profile~" target="_blank">~~$view->userName~</a> </h5>
            
            <p class="comment-text">  ~~$view->comment~ </p>
            <span class="faded-text">  ~~$view->indicator~ ~~$view->time~</span> 
            
            ~if($view->showInvoiceButton) {~
                <div class="pt10"> 
                    <a href= "~~$view->invoiceUrl~" class="btn btn-small">invoice</a> 
                </div>
            ~}~ 

        </div>
       

    </div> <!-- row -->

</div> <!-- widget -->
<div class="clear"> </div>

