
<div class="widget">

    <div class="row">
        
        <div class="span5">
            <h5> <a href="~~$view->profile~" target="_blank">~~$view->userName~</a> </h5>
            
            <p class="comment-text">~~$view->comment~ </p>
            <p class="faded-text">~~$view->message~</p>

        </div>
        <div class="span2"> 
            <a href="~~$view->link~" target="_blank"> 
            	<img src="~~$view->picture~" alt="photo" /> 
            </a>
        </div>

    </div> <!-- row -->

</div> <!-- widget -->

