
<div class="widget">

    <div class="row">
        
        <div class="span4">
            <h4> <a href="~~$view->profile~" target="_blank">~~$view->userName~</a> </h4>
            <span class="faded-text">~~$view->time~</span> 
            <p class="comment-text">  ~~$view->comment~ </p>
            
            ~if($view->hasInvoice) {~
            <div class="pt10"> 
                <a href= "~~$view->invoiceUrl~" class="btn btn-mini">invoice</a> 
            </div>
            ~}~
            

        </div>
        <div class="span2"> 
            <a href="~~$view->link~" target="_blank"> 
            	<img src="~~$view->picture~" alt="photo" /> 
               
            </a>
        </div>
        <div class="span2">
            <p class="faded-text"><small> ~~$view->post_text~ </small></p>
        </div>

    </div> <!-- row -->

</div> <!-- widget -->

