
<div class="widget">

    <div class="row">
        
        <div class="span3">
            <div>
                 <a href="~~$view->link~" target="_blank"> 
                    <img src="~~$view->picture~" alt="photo" /> 
                   
                </a>
            </div>
            <p>~~$view->post_text~</p>
        </div>

        <div class="span5">
           
            <dl class="dl-horizontal">

                <dt>Invoice #</dt>
                <dd>~~$view->invoiceId~</dd>

                <dt>Name</dt>
                <dd>~~$view->name~ </dd>


                <dt>Email</dt>
                <dd>~~$view->email~</dd>

                <dt>Quantity</dt>
                <dd>~~$view->quantity~</dd>
                
                <dt>Price</dt>
                <dd>~~$view->price~</dd>
                <dt>Updated On</dt>
                <dd>~~$view->updatedOn~</dd>
                <dt>Status</dt>
                <dd>~~$view->opBit~</dd>
                

            </dl>

        </div>

    </div> <!-- row -->

</div> <!-- widget -->