
<div id="invoice-item">
    <div class="photo">
        <a href="~~$view->link~" target="_blank"> 
            <img src="~~$view->picture~"  alt="photo" />  
        </a>
    </div>
    <div class="clear"> </div>
    <p class="muted">~~$view->post_text~ </p>
     <ul>
        <li> <span class="b">~~$view->quantity~ </span> Qty </li>
        <li> <span class="b"> created on </span> ~~$view->createdOn~</li>
        <li> <span class="b"> Merchant </span> ~~$view->sourceName~</li>

    </ul>
</div>

<div class="hr-red"> </div>
<div class="floatl">
    <span class="huge-text">Total: &nbsp; ~~$view->price~ </span>
</div>

 