
<!-- message depends on state -->
<p class="lead">
    Here is your new invoice. 
    <span style="background-color:yellow"> This invoice has not been sent yet.</span>
    To send invoice to buyer, click on "Send invoice". To make
    changes, click on "Edit invoice".
    
</p>
<div class="section">
    <a id ="~~$view->invoiceId~" class="btn btn-success invoice-mail" rel="mail" href="#"># Send invoice</a>
    &nbsp;&nbsp;
    <a class="btn btn-success" href="~~$view->editUrl~"># Edit invoice</a>
    <div id="mail-message" class="ml20"> &nbsp; </div>
</div>

