
<div class="widget">

    <div class="row">
        
        <div class="span3">
            <div>
                 <a href="~~$view->link~" target="_blank"> 
                    <img src="~~$view->picture~" alt="photo" /> 
                   
                </a>
            </div>
            <p class="faded-text"> <small> ~~$view->post_text~ </small> </p>
           
        </div>

        <div class="span5">
           
            <dl class="dl-horizontal">

                <dt>Invoice #</dt>
                <dd>~~$view->invoiceId~</dd>

                <dt>Name</dt>
                <dd><a href="~~$view->profile~" target="_blank">~~$view->name~</a></dd>


                <dt>Email</dt>
                <dd>~~$view->email~</dd>

                <dt>Quantity</dt>
                <dd>~~$view->quantity~</dd>
                
                <dt>Unit price</dt>
                <dd>~~$view->unitPrice~</dd>
                
                <dt>Created On</dt>
                <dd>~~$view->createdOn~</dd>
                <dt> Status </dt>
                <dd>
                    <div> 
                        <div class="btn-group">
                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                            ~~$view->status~
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li> <a href="#"> send invoice </a> </li>
                            <li> <a href="#"> view order </a> </li>
                          </ul>
                        </div>
                    </div>
                </dd>

            </dl>

           

        </div>

    </div> <!-- row -->
    <div class="row">
        <div class="floatr">
            <span class="huge-text"> Total : ~~$view->totalPrice~ </span>
        </div>
    </div>

</div> <!-- widget -->
<div class="clear"> </div>
