
<div class="widget">

    <div class="row">
        
        <div class="span3">
            <div>
                 <a href="~~$view->link~" target="_blank"> 
                    <img src="~~$view->picture~" alt="photo" /> 
                   
                </a>
            </div>
            <p>~~$view->post_text~</p>
        </div>

        <div class="span5">
           
            <dl class="dl-horizontal">

                <dt>Invoice #</dt>
                <dd>~~$view->invoiceId~</dd>

                <dt>Name</dt>
                <dd><a href="~~$view->profile~" target="_blank">~~$view->name~</a></dd>


                <dt>Email</dt>
                <dd>~~$view->email~</dd>

                <dt>Quantity</dt>
                <dd>~~$view->quantity~</dd>
                
                <dt>Unit price</dt>
                <dd>~~$view->unitPrice~</dd>
                
                <dt>Status</dt>
                <dd>~~$view->status~</dd>

                <dt>Created On</dt>
                <dd>~~$view->createdOn~</dd>
                

            </dl>

        </div>

    </div> <!-- row -->
    <div class="row">
        <div class="floatr">
            <span class="huge-text"> Total : ~~$view->totalPrice~ </span>
        </div>
    </div>

</div> <!-- widget -->
<div class="clear"> </div>
