
<div style="margin-left:40px;
	padding:20px;
	padding-top:100px;
	width:600px;
	border-bottom:1px solid #FE63BB;">
	<p style="font-size:18px;line-height:24px; font-family:Georgia;arial"> ~~$view->message~ </p>
	<a style="text-decoration:none;color:#28C;" href="http://www.favsales.com">Home page </a>
</div>

