<p class="lead">
    We have not received any comments for this page so far. We last fetched
    data for this page at ~~$view->lastTime~ . &nbsp;
    Please refresh this page after some time. 
</p>

