<p class="lead">
    We have not received any comments for this page so far. 
    The last update time for your page feed is ~~$view->lastTime~ . &nbsp;
    Please refresh this page after some time. 
</p>

