<p class="lead">
    You have not selected any facebook pages for monitoring. 
    Please click on "Select pages" button to do so now. 
</p>
<p class="muted">
    You can also add/remove pages anytime using the Manage Pages Tab.
</p>
<div class="p20">
    <a href= "/app/show-page.php" class="btn btn-success btn-large">Select Pages</a>
</div>
