

<div class="wrapper">
    <ul class="tools unstyled">
        <li> <span class="faded-text"> ~~$view->selectedRow['name']~</span> </li>
        <li> 
            <a class="open-panel" rel="filter-comments" href="#">
                filter comments <i class="icon icon-chevron-down"> </i>
            </a>
        </li>
        <li>
            <a id="comment-popover" href="#" rel="popover" data-placement="right" data-content="To view all comments or those with  buyit word only click on filter comments." data-original-title="About comments filter">&nbsp;</a>
        </li>

    </ul>

</div> <!-- page actions -->

<div class="clear"> </div>

<div id="page-message" class="hide-me"> </div>

<div id="filter-comments" class="panel panel-form">
    <ol class="unstyled">
        ~foreach($view->commentData as $row){~
        <li>  <a href="~~$row['link']~"> + ~~$row['name']~</a></li>
        ~}~
    </ol>

    <div class="pt10">
        <a class="btn btn-small close-panel" rel="filter-comments">Close</a>
    </div>

</div> <!-- panel:1 -->


