
<div class="wrapper">
	<span class="faded-text b"> page : ~~$view->selectedRow['name']~</span>
	&nbsp;&nbsp;
	<a class="open-panel" rel="default-source" href="#">
		<span class="label label-info">make default </span>
	</a>
	&nbsp;|&nbsp;
	<a class="open-panel" rel="all-sources" href="#">
		<span class="label label-info">change page</span>
	</a>
	&nbsp;|&nbsp;
	<a class="open-panel" rel="filter-comments" href="#">
		<span class="label label-info">filter comments</span>
	</a>
	                                         
</div> <!-- page actions -->

<div id="page-message" class="hide-me"> </div>

<div id="all-sources" class="panel panel-form">
	<ul>
		~foreach($view->sourceData as $row){~
		<li> <a href="~~$row['link']~">~~$row['name']~</a></li>
		~}~
	</ul>

	<div class="pt10">
		<a class="btn btn-small close-panel" rel="all-sources">Cancel</a>
	</div>

</div> <!-- panel:1 -->


<div id="default-source" class="panel panel-form">
       
     <form  id="form1"  name="form1" action="/app/action/page/make-default.php"  method="POST">
        <p class="faded-text">
            Are you sure you want to make this page as default for Dashboard? 
        </p>
        <button type="submit" class="btn btn-small btn-success" name="yes" value="Yes">
            <span>Yes</span>
        </button>
        &nbsp;
        <a class="btn btn-small close-panel" rel="default-source">Cancel</a>
        <input type="hidden" name="source_id" value="~~$view->selectedRow['source_id']~"/>
    </form> <!-- form:1 -->
</div> <!-- panel:2 -->


<div id="filter-comments" class="panel panel-form">
	<ul>
		~foreach($view->commentData as $row){~
		<li> <a href="~~$row['link']~">~~$row['name']~</a></li>
		~}~
	</ul>

	<div class="pt10">
		<a class="btn btn-small close-panel" rel="filter-comments">Cancel</a>
	</div>

</div> <!-- panel:1 -->


