
<div class="widget">
		<p> <strong> ( code </strong> ~~$view->code~ )  </p>
		<p class="lead"> order # ~~$view->orderId~  </p>
		<p class="lead"> ~~$view->message~ </p>
		<div class="p20">
			<a class="btn btn-large btn-success" href="~~$view->link~"> ~~$view->linkName~ </a>
		</div>
</div>

