
~~$view->sourceName~
------------------------------

Hello ~~$view->userName~ 

    To view your invoice from ~~$view->sourceName~ for ~~$view->price~ for
    ~~$view->post_text~ and complete the purchase, please go to the link

    ~~$view->checkout_link~ 

    
Thanks for shopping with us!
    
-----------------------------------
    *sent by favsales
