<table class="table table-striped">
  <thead>
    <tr>
      <th>select</th>
      <th>page</th>
      
    </tr>
  </thead>
  <tbody>
    ~foreach($view->pages as $page){ ~
    <tr>
      <td>
        <input type="checkbox" name="p[]" value="~~$page['id']~" />
      </td>
      <td>~~$page["name"]~</a></td>
      
    </tr>
    
    ~}~
  </tbody>
</table>

