<table class="table">
  <thead>
    <tr>
      <th>select</th>
      <th>page</th>
      
    </tr>
  </thead>
  <tbody>
    ~foreach($view->rows as $row){ ~
    <tr class="~~$row['rowClass']~">
      <td>
        <input type="checkbox" name="p[]" value="~~$row['id']~" ~~$row['checked']~ />
      </td>
      <td>~~$row['name']~</a></td>
      
    </tr>
    
    ~}~
  </tbody>
</table>

