<table class="table table-striped">
  <thead>
    <tr>
      <th>Page ID</th>
      <th>Name</th>
      
    </tr>
  </thead>
  <tbody>
    ~foreach($view->pages as $page){ ~
    <tr>
      <td>~~$page["id"]~</a></td>
      <td>~~$page["name"]~</a></td>
      
    </tr>
    
    ~}~
  </tbody>
</table>

