<?php
    require_once ('fs-app.inc');
    require_once (APP_WEB_DIR.'/app/inc/header.inc');
    require_once (APP_WEB_DIR.'/app/inc/role/user.inc');

    
?>

<!DOCTYPE html>
<html>

    <head>
        <title> User Facebook pages</title>
        <?php include(APP_WEB_DIR . '/app/inc/meta.inc'); ?>
        <?php echo \com\indigloo\fs\util\Asset::version("/css/fs-bundle.css"); ?>


    </head>

     <body>
        <?php include(APP_WEB_DIR . '/app/inc/toolbar.inc'); ?>
        
        <div class="container mh600">
            
            <div class="row">
                <div class="span8 offset1">
                    <div class="page-header">
                        <h3>Select pages</h3>
                    </div>
                    <p class="lead">
                        
                        Please select the pages you want to monitor (by clicking on checkboxes) 
                        and press "Save"

                    </p>
                    <?php \com\indigloo\ui\form\Message::render() ?>
                     
                    <form name="web-form1" action="/app/action/page/store.php" method="POST">
                        
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>select</th>
                              <th>page</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <?php foreach($fbPages as $fbPage){ ?>
                            <tr>
                                <td>
                                    <input type="checkbox" name="p[]" value="<?php echo $fbPage['id'] ?>" />
                                </td>
                                <td><?php echo $fbPage['name'] ?></a></td>
                              
                            </tr>
                            
                            <?php } ?>
                          </tbody>
                        </table> <!-- table:pages -->

                        <div class="section">
                            <button class="btn btn-success" type="submit" name="save" value="Save">Save</button>
                            
                        </div>
                    </form>
                     
                </div>

            </div>

            
        </div>        

        <?php include(APP_WEB_DIR . '/app/inc/footer.inc'); ?>

    </body>
</html>
