
<h3> Your purchase at ~~$view->sourceName~ </h3>

<table>
    <tr>
        <td>  <img src="~~$view->picture~" alt="photo" /> </td>
        <td>  <a href="~~$view->link~" target="_blank"> see item here </a> </td>
    </tr>
    <tr>
        <td>  &nbsp; </td>
        <td> ~~$view->post_text~ </td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>~~$view->quantity~ </td>
    </tr>
    <tr>
        <td>Price</td>
        <td>~~$view->price~</td>
    </tr>

</table>

<div style="padding:20px; border: 2px solid #d5d5d5">
    <h3> <a href="http://www.favsales.com"> Click here to purchase </a> </h3>
</div>
